<div class="project">
      <div class="project__content">
        <h2 class="project__title" style="">
          <img src="{{site.baseurl}}/images/{{project.image}}" style="width: 50px; padding-right: 10px;">
          {{ project.name }}
        </h2>

        <div class="project__footer">
          <div class="project__meta">
            <span class="project__date">{% if project.function %}<b>{{ project.function }}</b> &bull; {% endif %}{% if project.date_from %} {{ project.date_from}} {% endif %} {% if project.date_to %} to {{project.date_to}} {% endif %}</span>
          </div>
        </div>

        {% if project.link %}
        <div class="project__footer">
          <div class="project__meta">
            <a href="{{ project.link }}">{{ project.link | replace: "https://", "" }}</a>
          </div>
        </div>
        {% endif %}

        <p class="project__excerpt">{{ project.content }}</p>
        
        {% if project.tech.size >= 1 %}
        <div class="project-tags" style="padding-bottom: 15px">
            <div class="project-tags__box">
              {% for tech in project.tech %}
                <a class="project__tag">{{ tech }}</a>
              {% endfor %}
            </div>
        </div>
        {% endif %}
      </div>
</div>
